.App {
  font-family: sans-serif;
  text-align: center;
}

@keyframes move {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(300px);
  }
}

.move {
  animation-name: move;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.move-reverse {
  animation-name: move;
  animation-duration: 1s;
  animation-fill-mode: backwards;
  animation-direction: reverse;
}
